.wrapper{
    min-width: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background: lightgrey;
}
footer{
    height: 200px;
    width: auto;
    font-size:2rem;
    background: gray;
    text-align: left;
    padding: 30px;
}

.cookei{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
